body{
    line-height: 1.7;
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
}

.logowanko {
    display: block;
    text-align: center;
    font-size: xx-large;
}

.loginForm {
    margin: auto;
    margin-top: 100px;
    box-sizing: border-box;
    justify-content: center;
    max-width: 40%;
    padding-left: 20px;
    padding-right: 20px;
}

.login-label {
    padding-bottom: 10px;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px solid #1189de;
    margin-bottom: 20px;
}

.no-margin {
    margin: 0px;
}

.login-input{
    height: 50px;
    border-style: solid;
    border-color: gold;
    background: gold;
    font-size: 20px;
}

.login-button {
    display: inline-block;
    border-radius: 4px;
    background-color: gold;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.login-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.login-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.login-button:hover span {
    padding-right: 25px;
}

.login-button:hover span:after {
    opacity: 1;
    right: 0;
}

.login-swap {
    text-align: center;
}